
<div class="row">
  <h4 class="text-center pt-4 mb-2">Veja o projeto Alicia no GitHub</h4>
  <div class="col-md-12 d-flex justify-content-center">
    <ul class="social-network">

        <a href="https://github.com/Gabrielmota7/AliciaFrontEnd" target="_blank" class="icoGitHub">
          <i class="fa fa-github-alt" aria-hidden="true"></i>
        </a>


    </ul>

  </div>
</div>

<footer class="page-footer font-small background-rodape pt-4">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white"> Baixe o aplicativo aqui:</h4>
            </div>
        </div>
        <div class="row text-center">
                <ul class="loja-aplicativo">
                    <li>
                        <a href="" target="_blank" class="icoPlayStore"><img src="../../assets/img/googlePlay.png" alt="" width="150px" height="50px">
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank" class="icoAppleStore"> <img src="../../assets/img/appleStore.png" alt="" width="150px" height="50px">
                        </a>
                    </li>
                </ul>
            </div>





    </div>

    <div class="footer-copyright background-copy text-center py-3">
        <span class="text-light"> © 2021 Alicia </span>

    </div>

</footer>
