<!-- <div id="contato" class="container-fluid tela fonte roxobackground pb-5">
    <h1 class="text-center verde pt-4 mb-4">Equipe</h1>
    <h2 class="text-center roxo mb-5">Conheça os membros da equipe de desenvolvimento da Alicia</h2>
    <div class="container meiatela d-flex justify-content-center">
        <div class="card-group">
            <div class="card mx-3 rounded border border-light">
                <img src="../../assets/img/ericasemfundo2.png" class="card-img-top rounded-top" alt="Foto da Erica">
                <div class="card-body verdebackground">
                    <h5 class="nomes">Erica Prado</h5>
                    <div>
                        <p class="card-text resumo">Some quick example text to build on the card title and make up the
                            bulk
                            of
                            the card's content.</p>
                    </div>
                    <div>
                        <ul class="social-network text-center">
                            <li>
                                <a href="https://www.linkedin.com/in/erica-pimentel-246a591a1/" target="_blank"
                                    id="iconelinkedin"><i class="fab fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/Eri-93" target="_blank" id="iconegithub"><i
                                        class="fab fa-github-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="card mx-3 rounded border border-light">
                <img src="../../assets/img/gabrielsemfundo.png" class="card-img-top rounded-top" alt="Foto do Gabriel">
                <div class="card-body verdebackground">
                    <h5 class="nomes">Gabriel Mota</h5>
                    <div>
                        <p class="card-text resumo">Some quick example text to build on the card title and make up the
                            bulk of
                            the card's content.</p>
                    </div>
                    <div>
                        <ul class="social-network text-center">
                            <li>
                                <a href="https://www.linkedin.com/in/gabriel-mota-6620b11b0/" target="_blank"
                                    id="iconelinkedin"><i class="fab fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/Gabrielmota7" target="_blank" id="iconegithub"><i
                                        class="fab fa-github-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card mx-3 rounded border border-white">
                <img src="../../assets/img/gustavosemfundo.png" class="card-img-top rounded-top" alt="Foto do Gustavo">
                <div class="card-body verdebackground">
                    <h5 class="nomes">Gustavo Novaes</h5>
                    <div>
                        <p class="card-text resumo">Some quick example text to build on the card title and make up the
                            bulk of
                            the card's content.</p>
                    </div>
                    <div>
                        <ul class="social-network text-center">
                            <li>
                                <a href="https://www.linkedin.com/in/gustavo-novaes-505614203/" target="_blank"
                                    id="iconelinkedin"><i class="fab fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/GustavoNovaess" target="_blank" id="iconegithub"><i
                                        class="fab fa-github-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="card mx-3 rounded border border-light">
                <img src="../../assets/img/rafaelasemfundo3.png" class="card-img-top rounded-top" alt="Foto da Rafaela">
                <div class="card-body verdebackground">
                    <h5 class="nomes">Rafaela Zaccarias</h5>
                    <div>
                        <p class="card-text resumo">Some quick example text to build on the card title and make up the
                            bulk of
                            the card's content.</p>
                    </div>
                    <div>
                        <ul class="social-network text-center">
                            <li>
                                <a href="https://www.linkedin.com/in/rafaela-zaccarias/" target="_blank"
                                    id="iconelinkedin"><i class="fab fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/rafaelazacca" target="_blank" id="iconegithub"><i
                                        class="fab fa-github-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
 -->

 <h1 class="text-center verde pt-4 mb-4">Equipe</h1>
 <h2 class="text-center roxo mb-5">Conheça os membros da equipe de desenvolvimento da Alicia</h2>

<meta name= "viewport" content="width=device-width, initial-scale=1">
<body>
  <div class="row">
    <div class="col">
      <span> </span>
      <img src="../../assets/img/bordaerica3.png" alt="Foto da Erica">
    </div>
    <div class="col">
      <h3>Erica Prado</h3>
      <p>kjkjkjkk</p>
      <div class="social-link">
        <i class="fa fa-linkedin"></i>
        <i class="fa fa-github-alt" aria-hidden="true"></i>

      </div>
    </div>
    <div class="col">
      <span></span>
      <img src="../../assets/img/gabrielcomborda.png" alt="Foto da Gabriel">
    </div>
    <div class="col">
      <h3>Gabriel Mota</h3>
      <p>Oi</p>
      <div class="social-link">
        <i class="fa fa-linkedin"></i>
        <i class="fa fa-github-alt" aria-hidden="true"></i>

        </div>
    </div>
  </div>
    <div class="row margem">

    <div class="col">
      <h3>Rafaela Zaccarias</h3>
      <p>kjkjkjkk</p>
      <div class="social-link">
        <i class="fa fa-linkedin"></i>
        <i class="fa fa-github-alt" aria-hidden="true"></i>

      </div>
    </div>
    <div class="col">
      <span class="arrow"></span>
      <img src="../../assets/img/rafacomborda1.png" alt="Foto da Rafaela">
    </div>

    <div class="col">
      <h3>Gustavo Novaes</h3>
      <p>Oi</p>
      <div class="social-link">
        <i class="fa fa-linkedin"></i>
        <i class="fa fa-github-alt" aria-hidden="true"></i>

        </div>
    </div>
    <div class="col">
      <span class="arrow"></span>
      <img src="../../assets/img/gustavocomborda1.png" alt="Foto do Gustavo">
    </div>
  </div>

</body>
