<div class="container-fluid tela roxobackground">
    <div class="container">
        <div class="row ">
            <div class="col-md-12 d-flex justify-content-center mt-3 mb-5">
                <a href="https://projetoalicia.herokuapp.com"><img src="../../assets/img/alicia3.png" alt="Logo Alicia" width="200px" height="200px"
                    class="img-fluid"></a>
            </div>

        </div>

        <div class="row d-flex justify-content-center align-items-center mt-3">
            <div class="col-md-6">
                <img src="../../assets/img/error3.png" alt="Imagem de erro" width="750px" height="750px"
                    class="img-fluid">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5 fonte">
                <h1>Oops! Parece que um erro aconteceu :(</h1>
                <h5>Infelizmente parece que a Alicia pegou uma curva errada e se perdeu.</h5>
                <h5>Mas não se preocupe, te levaremos de volta para nosso site :)</h5>
                <div class="row pb-1">
                    <div class="col-md-12 d-flex justify-content-center">
                        <button href="https://projetoalicia.herokuapp.com" type="button"
                            class="btn btn-outline-verde btn-lg mt-2">Voltar para Alicia</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>