.background-menu{
    background-color:white;
}

.a{
    cursor: pointer;
}
.navbar
{
  position: fixed;
  width: 100vw;
  z-index: 9999;
  border-bottom: 1px solid #03989E;
}

.btn1{

  border-radius: 30px;
  border: 3px solid transparent;
  transition: .5s;
}

.btn1:hover{
  text-decoration: none;
  color: white;
  background-color: #A27FA8;
}

.btn2{
  z-index: 9999;
  background-color:#03989E;
  color:white;
  text-transform: uppercase;
    border-radius: 30px;
  border: 3px solid transparent;


}

.btn2:hover{
  text-decoration: none;
  color: white;
  background-color: #A27FA8;
}
.pBotao{
  margin-right: 10px;
}
.mBotao{
  margin-right: 20px;
}
.pHome{
  margin-right: 20px;
  padding-left: 10px;
}
.pBotaoHome{
  padding-left: 10px;
  padding-right: 10px;
}


/*Hover dos botões do menu*/
#textoo:hover{
  transition: 0.2s;
  color: #A27FA8
}

