<nav class="navbar navbar-expand-lg navbar-light background-menu">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto d-flex align-items-center mb-2 mb-lg-0">
            <li class="nav-item">
                <img src="../../assets/img/logoAlicia.png" alt="Imagem do logo" width="70px" height="70px" class="img-fluid">
              </li>
          <li class="nav-item pHome">
            <a class="nav-link active" id="textoo" aria-current="page" href="#inicio">Home</a>
          </li>
          <li class="nav-item pBotaoHome">
            <a class="nav-link active" id="textoo" aria-current="page" href="#sobre">Sobre Nós</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" id="textoo" aria-current="page" href="#contato">Contato</a>
          </li>
        </ul>

        <a class="pBotao">
            <button class="btn btn-outline-dark btn1 " type="submit" routerLink = "/cadastrar" (click) = "sumirInterface()">Cadastre-se</button>

        </a>
          <button class="btn btn-outline-dark btn2 mBotao" type="submit" routerLink = "/entrar" (click) = "sumirInterface()">Entrar</button>
      </div>
    </div>
  </nav>
