<div class="container">
    <div class="row mt-4 mb-1">
        <div class="col-md-12 d-flex justify-content-start">
            <a routerLink="/usuarios"><i class="fas fa-arrow-left name"></i></a>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">

            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-md-6 d-flex justify-content-center">
                    <img *ngIf="foto(usuario)" src="{{usuario.foto}}" alt="" class="avatar mat-elevation-z8">
                    <img *ngIf="!foto(usuario)" src="../../assets/img/defaultprofileicon.png"
                        class="avatar mat-elevation-z8 me-2">
                </div>
                <div class="col-md-6">
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <h1 class="name">{{usuario.nome}}</h1>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <h4 class="dataNascimento">Data de Nascimento: {{usuario.dataNascimento}}</h4>
                        </div>
                    </div>
                    <div *ngIf="administrador()" class="row mt-3 justify-content-center">
                        <div class="col-md-3 d-flex justify-content-center">
                            <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deletar">DELETAR</button>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="roxo mt-5 mb-3">
            <div class="row ">
                <div class="col-md-12">
                    <span class="startupTitulo">Nome da Start Up: </span><span
                        class="startup">{{usuario.nomeStartUp}}</span>
                </div>
            </div>
            <hr class="roxo mt-3 mb-3">
            <div class="row ">
                <div class="col-md-12">
                    <p class="startupTitulo">Sobre a Start Up: </p>
                    <span class="resumo">{{usuario.resumo}}</span>
                </div>
            </div>
            <hr class="roxo mt-3 mb-3">

            <p class="startupTitulo text-center">Outras redes sociais</p>
            <div class="row d-flex justify-content-center">
                <div class="col-md-12 d-flex justify-content-center">
                    <div *ngIf="linkedin(usuario)" class="col-md-3 d-flex justify-content-center mx-2">
                        <a href="{{usuario.linkLinkedin}}" target="_blank"><i class="fab fa-linkedin icone"></i></a>
                    </div>
                    <div *ngIf="instagram(usuario)" class="col-md-3 d-flex justify-content-center mx-2">
                        <a href="{{usuario.linkInstagram}}" target="_blank"><i class="fab fa-instagram icone"></i></a>
                    </div>
                    <div *ngIf="facebook(usuario)" class="col-md-3 d-flex justify-content-center mx-2">
                        <a href="{{usuario.linkFacebook}}" target="_blank"><i class="fab fa-facebook-square icone"></i></a>
                    </div>
                </div>
            </div>
            <hr class="roxo mt-3 mb-3">
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal" id = "deletar" tabindex="-1" aria-labelledby="modalAtualizacao" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center">
                <h5 class="modal-title verde">Deleção de Usuária</h5>
            </div>
            <div class="modal-body text-center">
                <p>Tem certeza de que deseja excluir a usuária? Uma vez confirmada, essa ação não poderá ser revertida!</p>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-outline-danger mx-3" data-bs-dismiss="modal">NÃO</button>
                <button type="button" class="btn btn-outline-success" (click)="deletar()"
                    data-bs-dismiss="modal">SIM</button>
            </div>
        </div>
    </div>
</div>