<div class="form-floating mb-1 m-4">
    <input [(ngModel)]='usuario.senha' type="password" class="form-control"
        id="floatingPassword" placeholder="Confirmar Senha">
    <label for="floatingPassword">Senha</label>
</div>
<div class="form-floating mb-1 m-4">
    <input [(ngModel)]='usuario.nome' type="text" class="form-control" id="floatingInput"
        placeholder="Coloque seu Nome">
    <label for="floatingInput">Nome</label>
</div>
<div class="form-floating mb-1 m-4">
    <input [(ngModel)]='usuario.dataNascimento' type="text" class="form-control"
        id="floatingInput" placeholder="Insira data dd/mm/aaaa">
    <label for="floatingInput">Data de Nascimento (dd-mm-aaaa)</label>
</div>
<div class="form-floating mb-1 m-4">
    <input [(ngModel)]='usuario.nomeStartUp' type="text" class="form-control" id="floatingInput"
        placeholder="Coloque o nome da sua Start-up">
    <label for="floatingInput">Start-up</label>
</div>
<div class="form-floating mb-1 m-4">
    <input [(ngModel)]='usuario.foto' type="text" class="form-control" id="floatingInput"
        placeholder="Coloque sua Foto">
    <label for="floatingInput">Link da Foto</label>
</div>
<div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-outline-primary2 btn-outline-primary2:hover m-4"
        (click)='atualizar()'>Atualizar</button>
</div>
