<h1 class="text-center mt-5">Configurações da Conta</h1>
<h4 class="text-center mt-3 mb-5">Atualize aqui seus dados</h4>

<div class="form-floating mb-1 m-4">
    <input [(ngModel)]='usuario.nome' type="text" class="form-control" id="floatingInput"
        placeholder="Coloque seu Nome">
    <label for="floatingInput" class="verde">Nome</label>
</div>
<div class="form-floating mb-1 m-4">
    <input [(ngModel)]='usuario.senha' type="password" class="form-control" id="floatingPassword"
        placeholder="Confirmar Senha" required minlength="5">
    <label for="floatingPassword" class="verde">Senha</label>
</div>
<div class="form-floating mb-1 m-4">
    <input [(ngModel)]='usuario.dataNascimento' type="text" class="form-control" id="floatingInput"
        placeholder="Insira data dd/mm/aaaa">
    <label for="floatingInput" class="verde">Data de Nascimento (dd-mm-aaaa)</label>
</div>
<div class="form-floating mb-1 m-4">
    <input [(ngModel)]='usuario.foto' type="text" class="form-control" id="floatingInput"
        placeholder="Coloque sua Foto">
    <label for="floatingInput" class="verde">Link da Foto</label>
</div>
<div class="form-floating mb-1 m-4">
    <input [(ngModel)]='usuario.nomeStartUp' type="text" class="form-control" id="floatingInput"
        placeholder="Insira o nome de sua Startup">
    <label for="floatingInput" class="verde">Nome de sua Startup</label>
</div>
<div class="form-floating mb-1 m-4">
    <textarea [(ngModel)]='usuario.resumo' class="form-control tam" rows="7" id="floatingInput"
        placeholder="Insira um breve resumo sobre sua Startup" height="100px"></textarea>
    <label for="floatingInput" class="verde">Breve resumo sobre sua Startup</label>
</div>
<div class="form-floating mb-1 m-4">
    <input [(ngModel)]='usuario.linkLinkedin' type="text" class="form-control" id="floatingInput"
        placeholder="Coloque o link de seu Linkedin">
    <label for="floatingInput" class="verde">Link do Linkedin</label>
</div>
<div class="form-floating mb-1 m-4">
    <input [(ngModel)]='usuario.linkInstagram' type="text" class="form-control" id="floatingInput"
        placeholder="Coloque o link de seu Instagram">
    <label for="floatingInput" class="verde">Link do Instagram</label>
</div>
<div class="form-floating mb-1 m-4">
    <input [(ngModel)]='usuario.linkFacebook' type="text" class="form-control" id="floatingInput"
        placeholder="Coloque o link de seu Facebook">
    <label for="floatingInput" class="verde">Link do Facebook</label>
</div>
<div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-outline-primary m-4"
    data-bs-toggle="modal" data-bs-target="#atualizacao">Atualizar</button>
</div>

<div class="modal" id = "atualizacao" tabindex="-1" aria-labelledby="modalAtualizacao" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center">
                <h5 class="modal-title verde">Atualização de Usuária</h5>
            </div>
            <div class="modal-body text-center">
                <p>Tem certeza de que deseja atualizar seus dados? Uma vez confirmada a alteração, essa ação não poderá ser revertida!</p>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-outline-danger mx-3" data-bs-dismiss="modal">NÃO</button>
                <button type="button" class="btn btn-outline-success" (click)="atualizar()"
                    data-bs-dismiss="modal">SIM</button>
            </div>
        </div>
    </div>
</div>