<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center text-secondary">Atualizar postagem</h1>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            
      
              <div class="form-group">
                <label for="titulo">Texto</label>
                <textarea [(ngModel)]='postagem.texto' class="form-control" name="texto" id="texto" rows="3"></textarea>
              </div>
      
              <div class="form-group">
                <label for="texto">Escolha um tema ou <a data-dismiss="modal" routerLink='/tema'>cadastre um novo</a>:
                </label>
               <!-- <select name="tema" id="tema" class="form-control"  (change)='findByIdTema()'>
                  <option [(ngModel)]='postagem.tema' *ngFor='let tema of listaTemas' value="{{tema.id}}">{{tema.descricao}}</option>
                </select> -->
              </div>
              <div>
                <a data-dismiss="modal" routerLink='/tema'>Ir para Temas</a>
                <select [(ngModel)] = 'idTema' class="form-select" aria-label="Default select example" (change)="findByIdTema()">
                    <option value = '' class = "text-secondary">Selecione um tema</option>
                    <option  *ngFor='let tema of listaTemas' value="{{tema.id}}">{{tema.descricao}}</option>
                </select>
            </div>
              <div class="d-flex justify-content-center mt-4">
                <button class="btn btn-danger mx-4" routerLink='/postagem'>Cancelar</button>
                <button class="btn btn-success" (click)='atualizar()'>Atualizar</button>
              </div>
        </div>
    </div>


</div>

