<div class="container mt-4">
  <div class="row d-flex justify-content-center">
    <div class="col-md-12 card d-flex justify-content-center">
      <div class="row d-flex justify-content-center">
        <div class="col-md-8 mt-4">
          <div class="mb-3">
            <h1 class="h1">Startups</h1>
            <h4>Veja as Startups cadastradas pelas usuárias</h4>
            <p>Apoiar é uma forma de reduzir o gap de gênero no mercado</p>
            <div class="container">
              <div class="row mt-5 bg">
                <div class="col-md-12">
                </div>
              </div>
            </div>
          </div>
        </div>

<hr>

           <h4 class="text-center mt-4 mb-4 h4">Descubra novas Startups</h4>
          <div class="container mb-2" *ngFor='let item of listaUsuario'>
            <div *ngIf="item.nomeStartUp !== null">
              <div class="col-md-10 ms-5 mb-3">
              <div class="card">
                <div class="card-header">
                  {{item.nomeStartUp}}
                </div>
                <div class="card-body">
                  <p class="card-text">{{item.resumo}}</p>
                  <div class="col-md-12 text-end">
                  <a href="#" class="btn btn-botao">Apoiar</a>
                </div>
              </div>



<!--
              <div *ngFor='let item of listaUsuario'>
              <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-{{}}">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                      Accordion Item #1
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                      <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                  </div>
                </div>
              </div> -->

