<div class="container mt-4 ">
    <div class="row d-flex justify-content-center mb-4">
        <div class="col-md-12 card d-flex justify-content-center">
            <div class="row d-flex justify-content-center">

                <div class="col-md-8 mt-4">


                    <div class="mb-3 m-1">
                        <p class="align-center">Selecione um tema para postagem</p>
                        <select [(ngModel)]="idTema" class="form-select form-control borda-forma"
                            aria-label="Default select example" (change)="findByIdTema()" name="Tema" ngDefaultControl >
                            <option value='' class="text-secondary">Selecione um tema</option>
                            <option [(ngModel)]='postagem.tema' *ngFor='let tema of listaTemas' name="PostagemTema" ngDefaultControl value="{{tema.id}}">
                                {{tema.descricao}}</option>
                        </select>
                    </div>

                    <div class="form-floating mb-3 border-0 m-1">
                        <input [(ngModel)]='postagem.texto' type="text" class="form-control borda-forma"
                            id="floatingInput" placeholder="texto da postagem" name="TextoPostagem" ngDefaultControl>
                        <label for="floatingInput">Com o que iremos inovar hoje ?</label>
                    </div>
                    <div>
                       <a class="button:hover" data-bs-toggle="modal" data-bs-target="#imagem">               
                    <i class="fas fa-images coricone"></i></a>
                 


                    </div>
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-outline-primary2 btn-outline-primary2:hover d-flex align-items-end mb-4"
                            (click)='postar()'> Postar </button>
                    </div>

                </div>
            </div>
        </div>
    </div>




    <div class="row d-flex justify-content-center">

        <div class="col-md-12 card mb-4" *ngFor='let postagem of listaPostagem | orderBy : key : reverse'>
            <div class="card-body">
                <div class="row d-flex justify-content-start">
                    <div class="col-md-10"> 
                        <div class="row d-flex justify-content-center align-items-center">
                        <div class="col-md-1 d-flex justify-content-center px-0">
                            <img *ngIf="foto(postagem.usuario)" src={{postagem.usuario.foto}} alt="Imagem do User"
                                        class="img-fluid rounded-circle imagem">
                            <img *ngIf="!foto(postagem.usuario)" src="../../assets/img/defaultprofileicon.png"
                                        alt="Imagem do User" class="img-fluid rounded-circle imagem">
                        </div>
                        <div class="col-md-8 text-start ps-0">
                            <span class="m-0 font-weight-bold name ms-4 pe-2">{{postagem.usuario.nome}}</span>
                        </div>
                        <div class="col-md-3">

                        </div>
                        
                    </div>

                </div>
                <!-- <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-md-2 d-flex justify-content-center px-0">
                        <img *ngIf="foto(postagem.usuario)" src={{postagem.usuario.foto}} alt="Imagem do User"
                                    class="img-fluid rounded-circle imagem">
                        <img *ngIf="!foto(postagem.usuario)" src="../../assets/img/defaultprofileicon.png"
                                    alt="Imagem do User" class="img-fluid rounded-circle imagem">
                    </div>
                    <div class="col-md-6 text-start ps-0">
                        <span class="m-0 font-weight-bold name pe-2">{{postagem.usuario.nome}}</span>
                    </div>
                    <div class="col-md-4"></div>
                </div> -->


                <!-- <div class="row d-flex justify-content-start align-items-center">
                    <div class="col-md-3 justify-content-start">

                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-md-2 d-flex justify-content-center">
                                <img *ngIf="foto(postagem.usuario)" src={{postagem.usuario.foto}} alt="Imagem do User"
                                    class="img-fluid rounded-circle imagem">
                                <img *ngIf="!foto(postagem.usuario)" src="../../assets/img/defaultprofileicon.png"
                                    alt="Imagem do User" class="img-fluid rounded-circle imagem">
                            </div>
                            <span class="m-0 font-weight-bold text-start ms-3">{{postagem.usuario.nome}}</span>
                            <div class="col-md-10 d-flex justify-content-start">
                                <p class="m-0 font-weight-bold text-start ms-3">{{postagem.usuario.nome}}</p>
                            </div>
                            <div class="col-md-4 d-flex justify-content-center">
                                <button class="btn btn-outline-primary2 btn-outline-primary2:hover m-3 align-items-end"
                                [routerLink]="['/postagem-edit', postagem.id]">Editar</button>
                            <button class="btn btn-outline-primary2 btn-outline-primary2:hover m-3 align-items-end"
                                [routerLink]="['/postagem-delete', postagem.id]">Apagar</button>
                            </div>

                        </div>
                    </div> -->
                    <!-- <div class="col-md-6 justify-content-start">
                        <p class="m-0 font-weight-bold text-start">{{postagem.usuario.nome}}</p>
                    </div> -->
                </div>
                <div>
                    <p class="card-text mt-4 mb-2">{{postagem.texto}}</p>
                </div>
                <!-- <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-md-2 d-flex justify-content-center">
                        <img *ngIf="foto(postagem.usuario)" src={{postagem.usuario.foto}} alt="Imagem do User"
                            width="50px" height="50px" class="img-fluid rounded-circle">
                        <img *ngIf="!foto(postagem.usuario)" src="../../assets/img/defaultprofileicon.png"
                            alt="Imagem do User" width="50px" height="50px" class="img-fluid rounded-circle">
                    </div>
                    <div class="col-md-4 text-start">
                        <p class="m-0 font-weight-bold">{{postagem.usuario.nome}}</p>
                    </div>
                    <div class="col-md-4 d-flex justify-content-center">
                        <button class="btn btn-outline-primary2 btn-outline-primary2:hover m-3 align-items-end"
                        [routerLink]="['/postagem-edit', postagem.id]">Editar</button>
                    <button class="btn btn-outline-primary2 btn-outline-primary2:hover m-3 align-items-end"
                        [routerLink]="['/postagem-delete', postagem.id]">Apagar</button> 
                    </div>
                </div> -->
                <div>

                    <img src={{postagem.midia}} alt="Imagem da postagem" class="img-fluid text-center imagempostagem" width="1200px" height="630px"

                        *ngIf="imagem(postagem)">
                </div>
                <div>
                    <small class="text-muted mt-2">Tema: {{postagem.tema.descricao}}</small>
                </div>
            </div>
           <!-- <div class="mt-2">
                <img width="15px" height="15px" src="assets/img/like.png" alt="imagem like">Curtir | <img width="15px"
                    height="15px" src="assets/img/share.png" alt="imagem share">Compartilhar
            </div> -->
            <div class="mt-2">
                <p class="card-text"><small class="text-muted">{{postagem.dataPostagem | date: 'dd/MM/yyyy'}} às
                        {{postagem.dataPostagem | date: 'HH:mm'}}</small></p>
            </div>
        </div>


    </div>




<ng-template #show></ng-template>
<ng-template #nada></ng-template>


<!-- MODAL -->
<div class="modal" id="imagem">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Adicione o url da imagem</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3">https://exemplo.com/</span>
                    <input [(ngModel)]='postagem.midia' type="text" class="form-control" id="basic-url"
                        aria-describedby="basic-addon3" name="Midia" ngDefaultControl>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary3 btn-outline-primary:hover"
                    data-bs-dismiss="modal">Adicionar</button>
            </div>
        </div>
    </div>
</div>


<!--  <div class="container mb-5 mt-5">
    <div class="row d-flex justify-content-center">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Midia</label>
            <input [(ngModel)]='postagem.midia' type="text" class="form-control" id="midia"
                placeholder="Adicione midia">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Adicione texto a postagem </label>
            <textarea [(ngModel)]='postagem.texto' class="form-control" id="texto" rows="3"></textarea>
        </div>
        <div>
            <a data-dismiss="modal" routerLink='/tema'>Ir para Temas</a>
            <select [(ngModel)]="idTema" class="form-select" aria-label="Default select example" (change)="findByIdTema()">
                <option value = '' class = "text-secondary">Selecione um tema</option>
                <option [(ngModel)] = 'postagem.tema' *ngFor='let tema of listaTemas' value="{{tema.id}}">{{tema.descricao}}</option>
            </select>
        </div>
        <div class="mb-5 mt-5">
            <button type="submit" class="btn btn-success" (click)='postar()'>Postar</button>
        </div>
    </div>
</div>
<div class="container mb-3 mt-3">
    <div class="row mt-5">
        <div class="col-md-12">
            <h2 class="text-center">Todas as Postagens</h2>
        </div>
    </div>
    <div class="row mt-3 mb-5 d-flex justify-content-center">
        <div class="col-md-6">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Descrição</th>
                        <th scope="col" class="text-right">Modificações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let postagem of listaPostagem'>
                        <th>{{postagem.id}}</th>
                        <td>{{postagem.texto}}</td>
                        <td><button class="btn btn-info m-3" [routerLink]="['/postagem-edit', postagem.id]">Editar</button>
                            <button class="btn btn-danger" [routerLink]="['/postagem-delete', postagem.id]">Apagar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> -->