<div class="container mb-5 mt-5">
    <div class="row d-flex justify-content-center">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Midia</label>
            <input [(ngModel)]='postagem.midia' type="text" class="form-control" id="midia"
                placeholder="Adicione midia">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Adicione texto a postagem </label>
            <textarea [(ngModel)]='postagem.texto' class="form-control" id="texto" rows="3"></textarea>
        </div>
        <div>
            <a data-dismiss="modal" routerLink='/tema'>Ir para Temas</a>
            <select [(ngModel)]="idTema" class="form-select" aria-label="Default select example" (change)="findByIdTema()">
                <option value = '' class = "text-secondary">Selecione um tema</option>
                <option [(ngModel)] = 'postagem.tema' *ngFor='let tema of listaTemas' value="{{tema.id}}">{{tema.descricao}}</option>
            </select>
        </div>
        <div class="mb-5 mt-5">
            <button type="submit" class="btn btn-success" (click)='postar()'>Postar</button>
        </div>

    </div>
</div>
<div class="container mb-3 mt-3">
    <div class="row mt-5">
        <div class="col-md-12">
            <h2 class="text-center">Todas as Postagens</h2>
        </div>
    </div>




    <div class="row mt-3 mb-5 d-flex justify-content-center">
        <div class="col-md-6">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Descrição</th>
                        <th scope="col" class="text-right">Modificações</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let postagem of listaPostagem'>
                        <th>{{postagem.id}}</th>
                        <td>{{postagem.texto}}</td>
                        <td><button class="btn btn-info m-3" [routerLink]="['/postagem-edit', postagem.id]">Editar</button>
                            <button class="btn btn-danger" [routerLink]="['/postagem-delete', postagem.id]">Apagar</button>

                        </td>

                    </tr>

                </tbody>
            </table>

        </div>
    </div>
</div>