<div class="fonteTexto">
  <div class="container-fluid">
    <div id="sobre" class="row align-items-center d-flex justify-content-center p-5 bg-light text-dark">
      <!-- <h2 class="text-center mb-5">Sobre Nós</h2> -->
      <div class="col-md-6 justify p-3">
        <h3 class="d-flex justify-content-center">Alícia</h3>
        <p class="d-flex justify-content-center">Apoio, liderança e inspiração</p>

        <p class="mt-5">
          Alícia é uma rede social que tem como objetivo dar visibilidade para as mulheres que querem fundar suas startups e ter apoio e investimentos de outras mulheres, e também abordar sobre mulheres em cargos de lideranças para inspirar e incentivar mais mulheres na gestão de empresas, além de abordar outras temáticas como o futuro do trabalho e criatividade. <mark><b>Alícia cujo significado é A de Apoio, L de Liderança, I de Inspiração, e CIA de companhia</b></mark> trabalha alinhada com o Objetivo Sustentável da ONU de Igualdade de Gênero.
        </p>

        <p>
          O objetivo é disseminar valores, promover o acesso à informação e contribuir com o bem-estar de mulheres que
          buscam sua independência financeira e de decisão sobre seus negócios e vidas, ajudando-as no crescimento
          profissional e pessoal.
        </p>

        <p>
          Priorizamos a interação e a troca de conhecimento entre mulheres que possuem ou buscam o próprio negócio para
          que possam debater sobre os desafios mais comuns na área do empreendedorismo, tais como: liderança,
          comunicação, negociação, finanças, networking, o uso de ferramentas digitais e marca pessoal.
        </p>

      </div>
      <div class="col-md-6">
        <img src="assets/img/Infográficos_Thumbs_Mulheres_na_TI-removebg-preview.png"
          class="float-md-end mb-3 ms-md-5 img img-fluid" alt="...">
      </div>
    </div>
  </div>




  <div class="jumbotron jumbotron-fluid jumboColor fonteJumbo">
    <div class="container">
      <div class="row pt-4 pb-5 align-items-center d-flex justify-content-center">
        <div class="col-md-4 d-flex justify-content-center">
          <img class="icons" src="../..//assets/img/ameroxo.png" alt="">
        </div>
        <div class="col-md-4 d-flex justify-content-center">
          <img class="icons" src="../..//assets/img/girl1.png" alt="">
        </div>
        <div class="col-md-4 d-flex justify-content-center">
          <img class="icons" src="../..//assets/img/lampadaroxa.png" alt="">
        </div>
      </div>
      <div class="row pb-4">
        <div class="col-md-4 d-flex justify-content-center">
          <h4 class="text-dark"><b>Mulheres apoiando mulheres</b></h4>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
          <h4 class="text-dark"><b>Mulheres na liderança</b></h4>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
          <h4 class="text-dark"><b>Mulheres inspiradoras</b></h4>
        </div>
      </div>

    </div>
  </div>

  <div class="row pt-5 pb-5 mt-5">


    <div class="col-md-3 ms-15">
      <h1 class="d-flex justify-content-center"><b>1%</b></h1>
      <p>é o número de startups <mark>fundadas apenas por mulheres no Brasil.</mark> Os desafios para fundar startups pelo gênero feminino são os mais diversos e dentre eles está o investimento</p>
    </div>


    <div class="col-md-3 ms-15 d-flex justify-content-center">
      <img class="img-grafic" src="../../assets/img/grafico-circular-de-porcentagem-de-negocios.png" alt="gráfico">
    </div>

<div class="row d-flex justify-content-end">
    <div class="col-md-3 ms-15 d-flex justify-content-start me-5">
      <p> Dos líderes tecnológicos na América do Sul pesquisados por Harvey Nash e KPMG CIO Survey em 2020, apenas 0,04% receberam em 2020 aporte,<b>  de total de 4,7% que representam o quadro brasileiro das startups fundadas por mulheres,</b> segundo o estudo Female Founders Report </p>
    </div>
  </div>


    <div class="col-md-3 ms-15">
      <p>E pensando no futuro do trabalho, em um relatório recente do Fórum Econômico Mundial com colaboração com o LinkedIn mostra que na transição de empregos em potencial, <mark> gênero feminino está sub-representado,</mark> como por exemplo Cloud Computing, onde a lacuna de troca de trabalho é de 58%, e Engenharia, onde a lacuna é de 42%</p>
    </div>

    <div class="col-md-3 ms-15 d-flex justify-content-center">
    <img class="img-grafic1" src="../../assets/img/grafico-para-baixo (1).png" alt="">
    </div>









  <!-- <div class="container">
    <div class="row d-flex justify-content-start mt-5">

  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Ainda hoje as mulheres representam menos de 1/3 da força de trabalho em TI.</p>
    </div>
  </div>



  <div class="card ms-5" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>


  <div class="card ms-5" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

  <div class="card ms-5" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>



</div>

</div>
</div>
 -->
