<div class="fonteTexto">
  <div class="container-fluid">
    <div id="sobre" class="row align-items-center d-flex justify-content-center p-5 bg-light text-dark">
      <!-- <h2 class="text-center mb-5">Sobre Nós</h2> -->
      <div class="col-md-6 justify p-3">

        <p class="d-flex justify-content-center">Apoio, liderança e inspiração</p>

        <p class="mt-5">
          Alícia é uma rede social de apoio que impulsiona o empreendedorismo e a empregabilidade para mulheres em
          situação de vulnerabilidade social.
        </p>

        <p>
          O objetivo é disseminar valores, promover o acesso à informação e contribuir com o bem-estar de mulheres que
          buscam sua independência financeira e de decisão sobre seus negócios e vidas, ajudando-as no crescimento
          profissional e pessoal.
        </p>

        <p>
          Priorizamos a interação e a troca de conhecimento entre mulheres que possuem ou buscam o próprio negócio para
          que possam debater sobre os desafios mais comuns na área do empreendedorismo, tais como: liderança,
          comunicação, negociação, finanças, networking, o uso de ferramentas digitais e marca pessoal.
        </p>

      </div>
      <div class="col-md-6">
        <img src="assets/img/Infográficos_Thumbs_Mulheres_na_TI-removebg-preview.png"
          class="float-md-end mb-3 ms-md-5 img img-fluid" alt="...">
      </div>
    </div>
  </div>




  <div class="jumbotron jumbotron-fluid jumboColor fonteJumbo">
    <div class="container">
      <div class="row pt-4 pb-5 align-items-center d-flex justify-content-center">
        <div class="col-md-4 d-flex justify-content-center">
          <img class="icons" src="../..//assets/img/ameroxo.png" alt="">
        </div>
        <div class="col-md-4 d-flex justify-content-center">
          <img class="icons" src="../..//assets/img/girl1.png" alt="">
        </div>
        <div class="col-md-4 d-flex justify-content-center">
          <img class="icons" src="../..//assets/img/lampadaroxa.png" alt="">
        </div>
      </div>
      <div class="row pb-4">
        <div class="col-md-4 d-flex justify-content-center">
          <h4 class="text-dark">Mulheres apoiando mulheres</h4>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
          <h4 class="text-dark">Mulheres na liderança</h4>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
          <h4 class="text-dark">Mulheres inspiradoras</h4>
        </div>
      </div>

    </div>
  </div>

  <div class="row pt-5 pb-5 mt-5">


    <div class="col-md-3 ms-15">
      <p>Apenas dos 13% dos alunos de ciência da computação são mulheres. <mark>Das quais, 47% acaba desistindo.</mark>
      </p>
    </div>


    <div class="col-md-3 ms-15 d-flex justify-content-center">
      <img class="img-grafic" src="../../assets/img/grafico-de-linha.png" alt="gráfico">
    </div>

<div class="row d-flex justify-content-end">
    <div class="col-md-3 ms-15 d-flex justify-content-start">
      <p>As mulheres representam menos de 1/3 da força de trabalho em TI.</p>
    </div>
  </div>


    <div class="col-md-3 ms-15">
      <p>O setor de tecnologia é o que mais cresce no mundo. Tem muita oportunidade, mas faltam desenvolvedores.</p>
    </div>








  <!-- <div class="container">
    <div class="row d-flex justify-content-start mt-5">

  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Ainda hoje as mulheres representam menos de 1/3 da força de trabalho em TI.</p>
    </div>
  </div>



  <div class="card ms-5" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>


  <div class="card ms-5" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

  <div class="card ms-5" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>



</div>

</div>
</div>
 -->
