.jumboColor{
    background-color: rgba(162,127,168, 0.25);
}



.fonteTexto{
font-family: Roboto;
font-size: 15pt;

}

.justify{
  text-align: justify;
}

.icons{
width: 100px;
height: 100px;

}
.fonteJumbo{

  font-family: Arial, Helvetica, sans-serif;
}

.ms-15{

  margin-left: 100px;

}

mark {

background-color:#d8bfd8;
}



.img-grafic{
 width: 250px;
 height: 250px;
}




