<div class="fonteTexto">
  <div class="container-fluid">
    <div id="sobre" class="row align-items-center d-flex justify-content-center p-5 mb-2 bg-light text-dark">
      <!-- <h2 class="text-center mb-5">Sobre Nós</h2> -->
      <div class="col-md-6 justify p-3">

        <p>
          Alícia é uma rede social de apoio que impulsiona o empreendedorismo e a empregabilidade para mulheres em
          situação de vulnerabilidade social.
        </p>

        <p>
          O objetivo é disseminar valores, promover o acesso à informação e contribuir com o bem-estar de mulheres que
          buscam sua independência financeira e de decisão sobre seus negócios e vidas, ajudando-as no crescimento
          profissional e pessoal.
        </p>

        <p>
          Priorizamos a interação e a troca de conhecimento entre mulheres que possuem ou buscam o próprio negócio para
          que possam debater sobre os desafios mais comuns na área do empreendedorismo, tais como: liderança,
          comunicação, negociação, finanças, networking, o uso de ferramentas digitais e marca pessoal.
        </p>

      </div>
      <div class="col-md-6">
        <img src="assets/img/Infográficos_Thumbs_Mulheres_na_TI-removebg-preview.png"
          class="float-md-end mb-3 ms-md-5 img img-fluid" alt="...">
      </div>
    </div>
  </div>

  <div class="jumbotron jumbotron-fluid jumboColor">
    <div class="container">
      <div class="row pt-4 align-items-center d-flex justify-content-center">
        <div class="col-md-4 d-flex justify-content-center">
          <img class="icons" src="../..//assets/img/love.png" alt="">
        </div>
        <div class="col-md-4 d-flex justify-content-center">
          <img class="icons" src="../..//assets/img/rights.png" alt="">
        </div>
        <div class="col-md-4 d-flex justify-content-center">
          <img class="icons" src="../..//assets/img/idea.png" alt="">
        </div>
      </div>
      <div class="row pb-4">
        <div class="col-md-4 d-flex justify-content-center">
          <h4 class="text-light">Mulheres apoiando mulheres</h4>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
          <h4 class="text-light">Mulheres na liderança</h4>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
          <h4 class="text-light">Mulheres inspiradoras</h4>
        </div>
      </div>
    </div>
  </div>
